/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');


body {
    font-family: 'Ibarra Real Nova', serif;
}

/* header style */
#header {
    display: flex;
    margin: 40px auto;
    background: #161616;
    border-radius: 30px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.header-text {
    margin: 80px 30px 60px 60px;
    width: 500px;
}

.header-text h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 700;
}

.header-text p {
    margin-top: 30px;
}

.header-btn {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: red;
    transition: background-color, 1s, 1s, font-size, 1s, 1s;
}

.header-img img {
    height: 500px;
    padding-top: 80px;
}

.header-text:hover .header-btn {
    background-image: linear-gradient(yellow, gold);
    font-size: 24px;
    color: black;
}

/* blog style */

.blog {
    display: flex;
    margin-top: 80px;
}

.blog-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 312px;
    height: 300px;
    background-color: #161616;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 195, 255), 0 6px 20px 0 rgba(250, 6, 6, 0.89);
}

.blog-menu a {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #161616;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;

}

.blog-menu a:hover {
    color: white;
    background-color: red;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

.blogs-thumb {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transfer-button {
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    margin: 20px 0 0 20px;
    padding: 2px 0;
    border: 1px solid #161616;
    border-radius: 5px;
    cursor: pointer;
}

.blogs-thumb p {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.blogs-icon i {
    margin-left: 20px;
}

.view-all-btn {
    text-align: center;
    padding: 50px 0;
    display: none;
}

.view-all-btn a {
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: #B9B9B9;
    background-color: rgb(36, 34, 34);
    margin-top: 70px;
    padding: 60px;
}

footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav li {
    font-size: 16px;
    font-weight: 500;
    display: inline;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;

}

.social-icons i {
    font-size: 30px;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
}

.fa-facebook-square {
    background: white;
    color: #1877f2;
}

.fa-twitter-square {
    background: white;
    color: skyblue;
}

.fa-youtube {
    background: white;
    color: red;
}

/* 2nd page- matches section */

.match-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 25px;
}

.single-match {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.flags {
    display: flex;
    margin-top: 15px;
}

.flags p {
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px;
}

.team-name {
    font-size: 20px;
    font-weight: 600;
}

.match-time {
    font-size: 16px;
    font-weight: 400;
}

/* 3rd pad group section */

.groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
}

.group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group img {
    width: 300px;
    height: 350px;
}

/* media query */

/* --------------
    home page
----------------- */

/* ------tablet---------- */
@media only screen and (max-width: 768px) {

    #header {
        width: 734px;
    }

    .header-text {
        margin-top: 60px;
        padding-top: 20px;
        padding-left: 15px;
    }

    .header-img img {
        height: 420px;
    }

    .blog {
        flex-direction: column;
        margin-top: 50px;
    }

    .blog-menu {
        flex-direction: row;
        width: 734px;
        height: 64px;
        background-color: white;
        padding-left: 10px;
        box-shadow: none;
    }

    .blog-menu a {
        border: 1px solid grey;
        width: 230px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 3px;
        padding-top: 10px;
    }

    .blog-hidden {
        display: none;
    }

    .view-all-btn {
        display: block;
        align-items: center;
    }
}

/* ----phone-------- */

@media only screen and (max-width: 576px) {
    #header {
        flex-direction: column;
        width: 334px;
        height: 510px;
        padding: 20px 20px;
    }

    .header-text {
        width: 258px;
        height: 178px;
        padding: 20px 20px;
        margin: 20px 20px;
    }

    .header-text h1 {
        font-size: 22px;
        font-weight: 700;
    }

    .header-btn {
        font-size: 20px;
        font-weight: 400;
        padding: 8px 12px;
        border-radius: 10px;

    }

    .header-img img {
        width: 233px;
        height: 245px;
        padding-top: 50px;
        padding-bottom: none;
    }

    .blog-menu {
        flex-direction: column;
        width: 210px;
        height: 176px;
        background-color: white;
        padding-bottom: 30px;
        padding-left: 40px;
        box-shadow: none;
    }

    .blogs {
        grid-template-columns: 1fr;
    }

    .view-all-btn {
        display: none;
    }

    .footer-nav li {
        display: block;
        text-align: justify;
    }

}

/* ------------------
    matches page
-------------------- */
/* --------tablet-------- */
@media only screen and (max-width: 768px) {
    .match-list {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
    }
}

/* -----phone--------------- */

@media only screen and (max-width: 576px) {
    .match-list {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }
}

/* ---------------
    groups page
---------------- */
/* -------tablet---------- */

@media only screen and (max-width: 768px) {
    .groups {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        padding-left: 50px;
    }
}

/* -------phone--------- */

@media only screen and (max-width: 576px) {
    .groups {
        grid-template-columns: 1fr;
        padding-top: 20px;
        padding-left: 30px;
    }
}